  &-menu {
    padding-top: 25px;
    justify-content: center;
    display: flex;
  }
  &__list {
    display: flex;
  }
  &__link {
    font-size: 16px;
    color: #8b8b8b;
    @extend %dmsans-700;
    transition: 0.3s;
    &:hover {
      color: $title-color;
    }
  }
    &__item + &__item {
    margin-left: 32px;
  }