$accent-color: #243f4d;
$default-color: #436372;
$title-color: #191919;
$slick-dot-color: #fff;
$slick-dot-color-active: $slick-dot-color;
$slick-opacity-default: 0.75;
$slick-opacity-not-active: 0.25;

%dmsans-400 {
  font-family: "DMSans-Regular";
  font-weight: 400;
}

%dmsans-500 {
  font-family: "DMSans-Medium";
  font-weight: 500;
}

%dmsans-700 {
  font-family: "DMSans-Bold";
  font-weight: 700;
}

%poppins-700 {
  font-family: "Poppins-Bold";
  font-weight: 700;
}

%rubik-300 {
  font-family: "Rubik-Light";
  font-weight: 300;
}

%rubik-400 {
  font-family: "Rubik-Regular";
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik-Medium";
  font-weight: 500;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
