@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding: 50px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  margin-right: -150px;
  &__list {
    display: flex;
  }
  &__item {
    margin-right: 36px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: $default-color;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 15px;
  }
}

.user-nav {
  display: flex;

  &__link {
    position: relative;
    border-radius: 50%;
    width: 50px;
    padding: 15px 0;
    &--search {
      background-color: #edf1f4;
      margin-right: 20px;
      width: 50px;
      padding: 15px 0;
      &::before {
        content: "";
        background-image: url("../images/icons/search.svg");
        background-repeat: no-repeat;
        position: absolute;
        width: 18px;
        height: 16px;
        top: 19px;
        right: 17px;
      }
    }

    &--heart,
    &--shop {
      width: 88px;
      background-color: #fcd7b6;
    }
    &--heart {
      border-radius: 50px 0 0 50px;
      &::before {
        content: "";
        background-image: url("../images/icons/heart.svg");
        background-repeat: no-repeat;
        position: absolute;
        width: 18px;
        height: 16px;
        top: 23px;
        right: 30px;
      }
      &::after {
        content: "";
        width: 1px;
        height: 32px;
        background-color: #fde7d3;
        position: absolute;
        right: 0;
        top: 9px;
      }
    }

    &--shop {
      border-radius: 0 50px 50px 0;
      &::before {
        content: "";
        background-image: url("../images/icons/shop.svg");
        background-repeat: no-repeat;
        position: absolute;
        width: 18px;
        height: 17px;
        top: 23px;
        right: 30px;
      }
    }

    &--menu {
      background-color: #a3bbc8;
      margin-left: 20px;
      height: 51px;
      &::before {
        content: "";
        background-image: url("../images/icons/menu.svg");
        background-repeat: no-repeat;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 14px;
        right: 15px;
      }
    }
  }
  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff;
    top: 13px;
    right: 21px;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
    color: $accent-color;
    @extend %dmsans-400;
  }
}

.footer-top {
  padding: 78px 0 63px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  &__item {
    &--contact {
      width: 200px;
      margin-right: 100px;
    }

    &--nav {
      width: 170px;
      margin-right: 170px;
    }

    &--item-form {
      max-width: 270px;
    }
  }

  &__text {
    color: #7b7b7b;
    line-height: 24px;
    margin-bottom: 36px;
  }

  &__logo {
    margin-bottom: 25px;
  }

  &__adress {
    font-style: normal;
    line-height: 24px;
    display: block;
    font-size: 14px;
    @extend %rubik-400;
    color: #7b7b7b;
    width: 200px;
    margin-bottom: 10px;
  }

  &__title {
    margin: 17px 0 16px;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    text-transform: uppercase;
  }

  &__link {
    line-height: 32px;
    font-size: 14px;
    @extend %rubik-400;
    color: #7b7b7b;
  }

  &__input {
    max-width: 170px;
    width: 100%;
    background-color: #fef7f0;
    border: none;
    padding: 3px 11px 5px 13px;
    &::placeholder {
      color: #234969;
      @extend %dmsans-400;
      font-size: 12px;
    }
  }

  &__btn {
    border: none;
    background-color: #a3bbc8;
    color: #ffffff;
    padding: 3px 11px 5px 20px;
    margin-left: -4px;
    cursor: pointer;
  }
}
.footer-bottom {
  padding-top: 15px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #7b7b7b;
  &__copy {
    margin-bottom: 20px;
    margin-left: -3px;
  }
}

.footer-menu {
  &__list {
    display: flex;
  }

  &__item {
    margin-left: 15px;
    margin-bottom: 20px;
    & + & {
      border-left: 1px solid #7b7b7b;
      height: 26px;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 24px;
    @extend %rubik-400;
    color: #7b7b7b;
    margin-left: 16px;
  }
}

.top {
  background-color: #edf1f4;
  text-align: center;

  .container-big {
    padding: 33px 0 25px;
  }

  &__title {
    @extend %rubik-300;
    font-size: 36px;
    color: #222933;
    margin-bottom: 6px;
  }
}

.top-slider {
  &__inner {
    padding-top: 220px;
    padding-bottom: 45px;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
  }

  &__title {
    max-width: 500px;
    font-size: 72px;
    line-height: 70px;
    color: $accent-color;
    @extend %rubik-500;
    margin-bottom: 23px;
  }

  &__text {
    max-width: 370px;
    margin-bottom: 50px;
    font-size: 18px;
  }

  &__link {
    background-color: #a3bbc8;
    font-size: 15px;
    line-height: 15px;
    @extend %rubik-500;
    color: #ffffff;
    padding: 23px 100px 20px 27px;
    background-image: url("../images/arrow-shop.svg");
    background-repeat: no-repeat;
    background-position: 158px 26px;
  }

  &__img {
    padding-top: 55px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    padding-top: 205px;
    li {
      padding: 0 6px;
    }
  }

  button {
    padding: 0;
    @extend %rubik-500;
    font-size: 11px;
    color: $accent-color;
    background-color: #ffffff;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: none;
    opacity: 0.5;
    cursor: pointer;
  }

  .slick-dots {
    .slick-active {
      button {
        opacity: 1;
      }
    }
  }
}

.top-slider__bg {
  background-color: #fcd7b6;
}

.slider-bot {
  background-color: #fef7f0;
  padding: 0 148px;

  &__items {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
  }

  &__item {
    width: 300px;
    padding-left: 75px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      width: 55px;
      height: 55px;
    }
    &::after {
      content: "";
      width: 1px;
      height: 170px;
      background-color: #e8e4df;
      position: absolute;
      right: -130px;
      top: -35px;
    }
    &:last-child {
      &::after {
        content: none;
      }
    }
    &--sup::before {
      background-image: url("../images/icons/24.svg");
      background-repeat: no-repeat;
    }

    &--delivery::before {
      background-image: url("../images/icons/delivery.svg");
      background-repeat: no-repeat;
    }

    &--payment::before {
      background-image: url("../images/icons/payment.svg");
      background-repeat: no-repeat;
    }
  }

  &__title {
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }

  &__text {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
    color: #585858;
  }
}

.product {
  padding: 70px 0 100px;
  background-color: #fefefe;
  &__items {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
  }

  &__title {
    font-size: 36px;
    color: $title-color;
    @extend %dmsans-700;
    display: flex;
    justify-content: center;
  }

  &__menu {
    padding-top: 30px;
    justify-content: center;
    display: flex;
  }
  &__list {
    display: flex;
  }
  &__link {
    font-size: 16px;
    color: #8b8b8b;
    @extend %dmsans-700;
    border: none;
    background-color: unset;
    outline: none;
    transition: color 0.3s;
    cursor: pointer;
    &:hover {
      color: $title-color;
    }
  }
  &__item {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.mixitup-control-active {
  color: $title-color;
}

.product-item {
  padding: 10px 0 10px;
  max-width: 270px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  width: 100%;
  &--list {
    margin-bottom: 50px;
  }
  &__img-box {
    position: relative;
    height: 270px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  &__link-box {
    position: absolute;
    bottom: 60px;
    right: 15px;
    left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    transform: translateY(300%);
    transition: 0.3s;
  }

  &__link {
    display: inherit;
    background-color: #ffffff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 13px 11px;
    transition: 0.3s;
    &:hover {
      background-color: #a3bbc8;
      path {
        fill: #ffffff;
        transition: 0.3s;
      }
    }
  }

  &__icon {
    padding-left: 20px;
  }

  &__images {
    padding-top: 10px;
    object-fit: scale-down;
    height: 75%;
  }

  &:hover {
    .product-item__link-box {
      transform: translateY(0);
    }
  }

  &__title {
    font-size: 16px;
    line-height: 20px;
    @extend %rubik-500;
    color: $accent-color;
    padding-top: 20px;
  }

  &__price {
    font-size: 16px;
    line-height: 40px;
    @extend %dmsans-700;
    color: #a3bbc8;
  }
}

.product__special {
  padding-top: 200px;
}

.special-items {
  display: flex;
  justify-content: space-between;

  &__item {
    display: flex;
    justify-content: space-around;
    max-width: 870px;
    width: 100%;
    max-height: 390px;
    background-color: #feefe2;
  }

  &__img {
    transform: translateY(-90px);
    margin-left: 115px;
  }

  &__form--1 {
    width: 350px;
    margin: 15px 122px 0px 0px;
  }

  &__form--2 {
    width: 350px;
    margin-right: 60px;
  }

  &__title {
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 30px;
    color: $accent-color;
    margin: 85px 0 10px;
  }

  &__text {
    font-size: 16px;
    color: $accent-color;
  }

  &__link {
    @extend %rubik-500;
    color: $default-color;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    position: absolute;
    width: 180px;
    height: 60px;
    padding: 13px 0px 0px 21px;
    background-image: url("../images/icons/product-arrow.svg");
    background-repeat: no-repeat;
    background-position: 136px 23px;
    margin-top: 30px;
  }
}

.design {
  &__title {
    font-size: 36px;
    color: $title-color;
    @extend %dmsans-700;
    display: flex;
    justify-content: center;
  }

  &__menu {
    padding-top: 25px;
    justify-content: center;
    display: flex;
  }

  &__list {
    display: flex;
  }

  &__link {
    font-size: 16px;
    color: #8b8b8b;
    @extend %dmsans-700;
    transition: color 0.3s;
    cursor: pointer;
    outline: none;
    background-color: unset;
    border: none;
    &:hover {
      color: $title-color;
    }
  }

  .mixitup-control-active {
    color: $title-color;
  }

  &__item {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__items {
    padding-top: 75px;
  }
}

.design__items {
  padding-top: 75px;
  display: grid;
  min-height: 600px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 35px 30px;
}

.design-item {
  display: flex;

  &__img {
    position: relative;
    max-width: 370px;
    max-height: 245px;
    width: 100%;
    height: 100%;
  }

  &__title {
    position: absolute;
    width: 175px;
    @extend %dmsans-700;
    font-size: 20px;
    line-height: 24px;
    color: $title-color;
    margin: 34px 0px 7px 37px;
  }

  &__subtitle {
    position: absolute;
    @extend %dmsans-700;
    font-size: 16px;
    color: #a3bbc8;
    margin: 86px 0 0px 34px;
  }
}

.video {
  padding-top: 112px;

  &__inner {
    display: flex;
  }

  &__popup {
    max-width: 1920px;
    width: 100%;
    height: 504px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.insights {
  background-color: #ffffff;
  padding-top: 120px;

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: $title-color;
    font-size: 36px;
    @extend %dmsans-700;
  }

  &__link {
    font-size: 16px;
    color: #262626;
    @extend %dmsans-700;
    padding-right: 23px;
    top: 5px;
    right: 4px;
    position: relative;
  }

  &__link::after {
    position: absolute;
    content: "";
    background-image: url("../images/icons/view-arrow.svg");
    width: 6px;
    height: 11px;
    top: 9px;
    right: -2px;
  }

  &__items {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  &-item {
    max-width: 370px;
    &__imglink {
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      display: block;
      img {
        height: 250px;
        object-fit: cover;
      }
    }

    &__news {
      font-size: 14px;
      line-height: 29px;
      text-transform: uppercase;
      @extend %poppins-700;
      color: #ffffff;
      text-align: center;
      border-radius: 50px;
      background-color: #a3bbc8;
      width: 103px;
      position: absolute;
      margin: -17px 0px 0px 27px;
    }

    &__box {
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      padding: 31px 30px 15px 30px;
      min-height: 170px;
      background-color: #fff;
    }

    &__title {
      @extend %dmsans-500;
      font-size: 18px;
      line-height: 22px;
      color: #262626;
      position: relative;
      min-height: 91px;
      max-height: 91px;
      max-width: 290px;
      padding-bottom: 25px;
    }

    &__title::after {
      content: "";
      width: 310px;
      height: 1px;
      background-color: #e0e0e0;
      position: absolute;
      right: 0;
      top: 79px;
    }

    &__info {
      display: flex;
      margin-left: 8px;
    }

    &__date,
    &__author {
      font-size: 12px;
      color: #222933;
      text-transform: uppercase;
      margin-right: 37px;
      position: relative;
    }
  }
}

.partners {
  padding: 263px 0 90px;
  background-color: #fef7f0;
  margin-top: -170px;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    margin: 0 50px;
    & + & {
      margin-right: 47px;
    }
    &:last-child {
      margin-right: 87px;
    }
  }

  &--short {
    padding: 80px 0 75px;
    background-color: #fef7f0;
  }
}

.modal {
  padding-top: 112px;
  max-width: 505px;
  margin: 0 auto 120px;

  &__label {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    color: $default-color;
  }

  &__input {
    display: block;
    width: 100%;
    border: 2px solid #f6f6f6;
    margin-top: 4px;
    height: 60px;
  }

  &__btn {
    display: block;
    background-color: #a3bbc8;
    border: none;
    font-size: 18px;
    color: #fffefe;
    @extend %rubik-500;
    padding: 15px 0;
    width: 100%;
    cursor: pointer;
    margin-top: 38px;
    margin-bottom: 26px;
  }

  &__label-checkbox {
    border-bottom: 1px solid #dae4e9;
    padding-bottom: 30px;
    &--register {
      border-bottom: none;
    }
  }

  &__error {
    color: #436372;
    font-size: 14px;
    margin-left: 210px;
  }

  &__notreg {
    display: inline-block;
    padding-top: 50px;
    margin-left: 145px;
    font-size: 14px;
    color: $default-color;
  }

  &__btn-create {
    margin-top: 15px;
    display: block;
    font-size: 18px;
    padding: 14px 0;
    border: 2px solid #a3bbc8;
    width: 100%;
    color: $accent-color;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
  }

  &__text {
    margin-bottom: 5px;
    font-size: 12px;
    cursor: context-menu;
  }
}

.shop {
  background-color: #fff;
  padding: 113px 0 120px;

  &__inner {
    display: flex;
  }

  &__filters {
    max-width: 270px;
    width: 100%;
    margin-right: 30px;
  }
}

.filter {
  &__item {
    margin-bottom: 53px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 18px;
    color: $accent-color;
    @extend %dmsans-700;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
    &::after {
      position: absolute;
      content: "";
      width: 39px;
      height: 3px;
      background-color: #b5c9d3;
      top: 14px;
      margin-left: 15px;
    }
  }
}

.filter-category {
  &__label {
    cursor: pointer;
    margin-bottom: 3px;
    display: block;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox {
      background-color: #edf1f4;
      border-radius: 5px;
    }
  }

  &__checkbox {
    font-size: 16px;
    padding: 5px 15px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      background-image: url("../images/icons/view-arrow.svg");
      width: 6px;
      height: 11px;
      top: 13px;
      right: 25px;
    }
  }
}

.filter-price {
  margin-bottom: 70px;
  &__label {
    display: flex;
    justify-content: space-between;
  }

  &__price {
    font-size: 14px;
  }
  &__from {
    margin-right: 190px;
  }
}

.irs--flat {
  height: 40px;
  margin-bottom: -5px;
}
.irs--flat .irs-line {
  top: 11px;
  height: 3px;
  background-color: #c2d2db;
  border-radius: 0px;
}
.irs--flat .irs-handle {
  top: 5px;
  width: 15px;
  height: 15px;
  background-color: $blue;
  cursor: pointer;
}
.irs--flat .irs-handle > i:first-child {
  display: none;
}
.irs--flat .irs-bar {
  top: 11px;
  height: 4px;
  background-color: $blue;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.irs-from,
.irs-to,
.irs-single {
  display: none;
  top: 50px;
}

.filter-brand {
  &__label {
    cursor: pointer;
    margin-bottom: 3px;
    display: block;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox {
      background-color: #edf1f4;
      border-radius: 5px;
      color: $accent-color;
    }
  }

  &__checkbox {
    font-size: 16px;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    &-num {
      color: #b3b3b3;
    }
  }
}

.filter-products {
  &__label {
    cursor: pointer;
    margin-bottom: 23px;
    display: block;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-products__checkbox {
    }
  }

  &__checkbox {
    display: flex;
    max-height: 70px;
    justify-content: space-between;
  }

  &__img {
    border: 2px solid #f2f2f2;
    background-color: #fefefe;
    padding: 5px 2px;
    max-width: 70px;
    max-height: 70px;
    width: 100%;
    object-fit: contain;
  }

  &__descr {
    margin-right: 90px;
  }

  &__title,
  &__price {
    font-size: 14px;
    color: #333333;
  }

  &__price {
    font-size: 15px;
  }
}

.star {
  display: flex;
  &--product {
    margin-bottom: 30px;
  }
}

.jq-ry-container {
  padding: 5px 0px 4px 0px;
}

.shop-content {
  padding-top: 15px;
  width: 100%;
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.pagination {
  padding-top: 70px;
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 10px;
  }

  &__link {
    border: 1px solid $blue;
    color: $accent-color;
    padding: 17px 21px;
    font-size: 16px;
    cursor: pointer;
    &:last-child {
      margin-right: 5px;
    }

    &--active {
      background-color: $blue;
      color: #fff;
    }
  }

  &__next {
    cursor: pointer;
    margin-top: -13px;
    border: 1px solid $blue;
    color: $accent-color;
    font-size: 16px;
    padding: 11px 19px;
  }
}

.productshop {
  background-color: #fff;
  padding: 120px 0 105px;
}

.productshop-item {
  &__inner {
    display: flex;
  }
  &__slide {
    max-width: 550px;
    width: 100%;
    margin-right: 66px;
  }

  &__content {
    max-width: 570px;
    width: 100%;
  }

  &__title {
    @extend %rubik-400;
    font-size: 40px;
    color: #333333;
    margin: 30px 0 20px 0px;
  }

  &__price {
    @extend %rubik-400;
    font-size: 30px;
    color: #333333;
    margin-bottom: 25px;
  }

  &__text {
    @extend %rubik-400;
    font-size: 16px;
    color: $accent-color;
    margin: 0px 0px 27px 4px;
  }

  &__num {
    margin-right: 5px;
  }

  &__btn {
    text-transform: uppercase;
    background-color: #a3bbc8;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: #fffefe;
    padding: 11px 0;
    width: 208px;
    cursor: pointer;
    margin-bottom: 50px;
    margin-left: 158px;
  }
}

.jq-number {
  position: relative;
}

.jq-number__spin {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  width: 48px;
  background-color: transparent;
  cursor: pointer;
}

.jq-number__spin.minus {
  top: -4px;
  left: 1px;
  border: 1px solid #a3bbc8;
  padding: 25px 25px;
}

.jq-number__spin.plus {
  top: -4px;
  left: 99px;
  border: 1px solid #a3bbc8;
  padding: 25px 25px;
}

.jq-number__spin::after {
  content: "";
  position: absolute;
  top: 23px;
  right: 21px;
  background-color: #333;
  width: 10px;
  height: 1px;
}

.jq-number__spin.plus::before {
  position: absolute;
  content: "";
  background-color: #333;
  width: 1px;
  height: 10px;
  top: 19px;
  left: 24px;
}

.jq-number__field {
  position: absolute;
  right: -100px;
  top: -30px;
  width: 48px;
  border: 1px solid $blue;
  border-bottom-color: $blue;
  border-radius: 0px;
}

.jq-number__field input {
  width: 100%;
  padding: 10px 9px;
  border: none;
  outline: none;
  background: none;
  @extend %rubik-400;
  color: #333;
  text-align: center;
  cursor: default;
}

.productshop-slide {
  .slick-vertical .slick-slide {
    height: 160px;
    margin-bottom: 16px;
  }
  &__thumb {
    float: left;
    width: 138px;
    margin-right: 25px;
  }

  &__thumb-item {
    margin-bottom: 8px;
    width: 138px;
    height: 160px;
    border: 2px solid #f2f2f2;
    cursor: pointer;
    img {
      width: 77px;
      height: 156px;
      object-fit: contain;
      margin: 0 auto;
    }
    &:last-child {
      & + & {
        margin-bottom: 0;
      }
    }
  }

  &__big {
    float: left;
    width: 387px;
    border: 2px solid #f2f2f2;
    img {
      width: 233px;
      height: 405px;
      object-fit: cover;
      margin: 60px 0px 50px 75px;
    }
  }
}

.productshop-info {
  &__item {
    display: flex;
  }

  &__title {
    @extend %rubik-400;
    font-size: 16px;
    color: $accent-color;
    margin-right: 5px;
  }
  &__text {
    @extend %rubik-400;
    font-size: 16px;
    color: $accent-color;
  }
}

.productshop-tabs {
  padding-top: 100px;

  &__top {
    margin-bottom: 40px;
    @extend %rubik-500;
    font-size: 18px;
    text-align: center;
  }

  &__top-item {
    background-color: #edf1f4;
    border-radius: 5px;
    font-size: 18px;
    padding: 15px 70px;
    cursor: pointer;
    color: $accent-color;
    margin-right: 13px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__top-item--active {
    background-color: #a3bbc8;
    border-radius: 5px;
    font-size: 18px;
    color: #fffefe;
    padding: 15px 70px;
    cursor: pointer;
  }

  &__content-item {
    display: none;
    &.productshop-tabs__content-item--active {
      display: block;
    }
  }

  &__content-descr {
    font-size: 16px;
    color: $accent-color;
  }
}

.related {
  background-color: #fff;
  padding-top: 18px;
  &-top {
    margin-bottom: 85px;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 36px;
    @extend %dmsans-700;
    color: $accent-color;
  }

  &__btns {
    align-items: center;
    justify-content: space-between;
    display: flex;
  }

  &__btn {
    border: 2px solid #edf1f4;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    width: 48px;
    height: 48px;
    padding: 13px 0px 0px 21px;
    background-image: url("../images/icons/product-arrow.svg");
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background-position: 12px 19px;
    margin: 7px 0px 0px -120px;
    cursor: pointer;

    &--active {
      border: 2px solid $blue;
      background-color: #fff;
      border-radius: 5px;
      position: absolute;
      width: 48px;
      height: 48px;
      padding: 13px 0px 0px 21px;
      background-image: url("../images/icons/product-arrow.svg");
      background-repeat: no-repeat;
      transform: rotate(0deg);
      background-position: 12px 19px;
      margin: 7px 0px 0px -50px;
      cursor: pointer;
    }
  }

  &__items {
    display: flex;
  }

  &__item {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.blog {
  background-color: #fff;
  padding: 120px 0 122px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    width: 830px;
    margin-right: 30px;
    margin-bottom: 170px;
  }

  &__aside {
    width: 270px;
  }

  &__category {
    margin-bottom: 40px;
  }
}

.blog-item {
  margin-bottom: 155px;
  &:last-child {
    margin-bottom: 0;
  }

  &__img-box {
    margin-bottom: 40px;
    position: relative;
  }

  &__img {
    max-width: 828px;
    max-height: 500px;
  }

  &__info {
    background-color: rgb(163, 187, 200);
    position: absolute;
    left: -8px;
    bottom: 0;
    width: 275px;
    height: 71px;
  }

  &__author {
    left: 9px;
    color: #fff;
    position: relative;
    padding-left: 18px;
    top: 21px;
    &::before {
      position: absolute;
      content: "";
      background-image: url("../images/icons/user.svg");
      width: 20px;
      height: 20px;
      left: -6px;
      top: 4px;
    }
  }

  &__date {
    left: 21px;
    top: 21px;
    color: #fff;
    position: relative;
    padding-left: 20px;
    &::before {
      position: absolute;
      content: "";
      background-image: url("../images/icons/clock-icon.svg");
      width: 20px;
      height: 20px;
      left: -6px;
      top: 4px;
    }
  }

  &__title {
    font-size: 36px;
    @extend %rubik-400;
    color: #333333;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 16px;
    color: $accent-color;
    margin-bottom: 15px;
    max-height: 80px;
  }
  &__btn {
    border: 1px solid $blue;
    border-radius: 0;
    color: $blue;
  }

  &__pagination {
    padding-top: 30px;
    justify-content: unset;
  }
}

.filter-search {
  &__form {
    border: 1px solid #edf1f4;
    border-radius: 5px;
    width: 268px;
    height: 41px;
  }

  &__input {
    border: none;
    outline: transparent;
    width: 220px;
    height: 39px;
    background-color: #fff;
    padding: 0 10px;
    &:focus {
      outline: none;
      border: 1px solid black;
    }
  }

  &__btn {
    position: relative;
    background-color: #edf1f4;
    border-radius: 5px;
    border: none;
    width: 48px;
    height: 43px;
    cursor: pointer;
    background-image: url("../images/icons/search-1.svg");
    background-repeat: no-repeat;
    background-position: center center;
    outline: none;
    top: -41px;
    left: 220px;
  }
}

.recent-posts {
  &__item {
    display: flex;
    margin-bottom: 23px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__top-title {
    margin-bottom: 24px;
  }

  &__img-link {
    display: block;
    margin-right: 20px;
    max-width: 71px;
    width: 100%;
  }
  &__img {
    width: 71px;
    height: 71px;
    object-fit: cover;
  }

  &__title {
    @extend %rubik-400;
    font-size: 14px;
    color: #333;
    line-height: 20px;
  }

  &__date {
    color: #9a9a9a;
    font-size: 12px;
    text-transform: uppercase;
    left: 5px;
    top: 3px;
    &::before {
      left: -6px;
      top: -3px;
    }
  }
}

#map {
  width: 100%;
  max-width: 500px;
  height: 335px;
}

.contacts {
  padding-top: 110px;
  margin-bottom: 120px;
  &__title {
    text-align: center;
    margin-bottom: 75px;
  }

  &__link {
    color: $blue;
    font-size: 16px;
    @extend %poppins-700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  &__subtitle {
    @extend %dmsans-700;
    font-size: 35px;
    color: $default-color;
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
}

.contacts-item {
  max-width: 370px;
  width: 100%;
  background-color: #fafafa;
  height: 380px;
  padding-left: 145px;
  padding-top: 75px;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
  }
  &::after {
    content: "";
    position: absolute;
    width: 31px;
    height: 44px;
    background-image: url("../images/icons/marker-icon.svg");
    top: 93px;
    left: 167px;
  }

  &--active {
    border: solid 2px $blue;
    &::before {
      background-color: $blue;
    }
  }

  &--email {
    &::after {
      width: 37px;
      height: 33px;
      background-image: url("../images/icons/mail-icon.svg");
    }
  }

  &--phone::after {
    width: 37px;
    height: 44px;
    background-image: url("../images/icons/phone-icon.svg");
  }

  &__text {
    text-align: center;
    margin-left: -85px;
    max-width: 260px;
  }


  &__email {
    font-size: 16px;
    color: #565872;
    @extend %rubik-400;
  }

  &__title {
    text-align: center;
    font-size: 20px;
    color: #222222;
    @extend %dmsans-700;
    margin: 130px 121px 12px -20px;
  }

  &__address {
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: #565872;
    @extend %rubik-400;
    max-width: 180px;
    margin: 15px 0px 0px -53px;
  }

  &__phone {
    text-align: center;
    font-size: 16px;
    max-width: 270px;
    color: #565872;
    @extend %rubik-400;
  }
}

.map {
  margin-bottom: 15px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__form {
    max-width: 600px;
  }

  &__form-box {
    display: flex;
    justify-content: space-between;
    input {
      width: 300px;
    }
  }

  &__form-input {
    max-width: 300px;
    width: 100%;
    display: block;
    height: 50px;
    background-color: #fafafa;
    border: none;
    padding: 0 20px;
    margin-bottom: 25px;
    &::placeholder {
      color: #565872;
      font-size: 16px;
      @extend %rubik-400;
    }
  }

  &__form-email-img {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 18px;
      height: 12px;
      background-image: url("../images/icons/mail-icon-2.svg");
      top: 20px;
      left: -27px;
    }
  }

  &__form-name-img {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 14px;
      height: 13px;
      background-image: url("../images/icons/user-2.svg");
      top: 20px;
      left: -37px;
    }
  }

  &__form-input--email {
    padding: 0 30px;
  }

  &__form-textarea {
    width: 100%;
    display: block;
    resize: none;
    height: 175px;
    background-color: #fafafa;
    border: none;
    padding: 7px 20px;
    margin-bottom: 30px;
    &::placeholder {
      color: #565872;
      font-size: 16px;
      @extend %rubik-400;
    }
  }

  &__form-textarea-img {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 18px;
      height: 15px;
      background-image: url("../images/icons/msg-icon.svg");
      top: -190px;
      left: 573px;
    }
  }

  &__form-btn {
    text-transform: uppercase;
    background-color: #a3bbc8;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: #fffefe;
    padding: 11px 0;
    width: 200px;
    height: 50px;
    cursor: pointer;
  }
}

// opacity: 0.502;
