.header {
  padding: 50px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  margin-right: -150px;
  &__list {
    display: flex;
  }
  &__item {
    margin-right: 36px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: $default-color;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 15px;
  }
}

.user-nav {
  display: flex;

  &__link {
    position: relative;
    border-radius: 50%;
    width: 50px;
    padding: 15px 0;
    &--search {
      background-color: #edf1f4;
      margin-right: 20px;
      width: 50px;
      padding: 15px 0;
      &::before {
        content: "";
        background-image: url("../images/icons/search.svg");
        background-repeat: no-repeat;
        position: absolute;
        width: 18px;
        height: 16px;
        top: 19px;
        right: 17px;
      }
    }

    &--heart,
    &--shop {
      width: 88px;
      background-color: #fcd7b6;
    }
    &--heart {
      border-radius: 50px 0 0 50px;
      &::before {
        content: "";
        background-image: url("../images/icons/heart.svg");
        background-repeat: no-repeat;
        position: absolute;
        width: 18px;
        height: 16px;
        top: 23px;
        right: 30px;
      }
      &::after {
        content: "";
        width: 1px;
        height: 32px;
        background-color: #fde7d3;
        position: absolute;
        right: 0;
        top: 9px;
      }
    }

    &--shop {
      border-radius: 0 50px 50px 0;
      &::before {
        content: "";
        background-image: url("../images/icons/shop.svg");
        background-repeat: no-repeat;
        position: absolute;
        width: 18px;
        height: 17px;
        top: 23px;
        right: 30px;
      }
    }

    &--menu {
      background-color: #a3bbc8;
      margin-left: 20px;
      height: 51px;
      &::before {
        content: "";
        background-image: url("../images/icons/menu.svg");
        background-repeat: no-repeat;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 14px;
        right: 15px;
      }
    }
  }
  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff;
    top: 13px;
    right: 21px;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
    color: $accent-color;
    @extend %dmsans-400;
  }
}